
.Home {
    width: 100%;
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    .card {
        position: relative;
        width: 22%;
        .fa-sharp {
            z-index: 1;
            position: absolute;
            right: 10px;
            top: 10px;
            padding: 15px;
            background: rgba(98, 4, 4, 0.274);
            border-radius: 50%;
        }
        .item {
            position: relative;
            background: #000;
            height: 350px;
            border-radius: 10px;
            color: rgba(240, 248, 255, 0.633);
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            .gameImg {
                width: 100%;
                height: 100%;   
            }

        }

        .btn-bay {
            position: absolute;
            left: 40%;
            bottom: 10%;
            z-index: 1;
            padding: 10px;
            width: 60px;
            height: 30px;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(3, 75, 3, 0.8);
            color: var(--with);
            z-index: 4;
            border: none;
        }
        .btn-bay:hover {
            cursor: pointer;
            background: grey;
            transform: scale(1.1);
        }
    }
    .card:hover  .item{
        flex: 2;
        cursor: pointer;
        z-index: 1;
        transform: scale(1.1);
        transition: .3s linear;
        box-shadow: 10px 10px 25px ,
        -10px -10px 25px ;
    }
    .pagination {
        display: block;
        width: 100%;
        display: flex;
        justify-content: center;
        button {
            display: block;
            border-radius: 5px;
            width: 20px;
            height: 25px;
            background: none;
            padding: 5px;
            margin: 10px;
        }
    }
}

@media screen and (max-width: 1110px) {
    .Home {
        width: 100%;
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }
   .Home .card {
        width: 30%;
    }
}

@media screen and (max-width: 800px) {
    .Home .card {
         width: 40%;
     }
 }

 @media screen and (max-width: 760px) {
    .Home .card {
         width: 75%;
     }
 }