.Asaid {
    
    position: fixed;
    top: 70px;
    left: -10px;
    border-right: 1px solid rgba(80, 245, 80, 0.087) ;
    width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    display: flex;
    padding-left: 20px;

      a {
        padding: 5px 20px;
        color: green;
      }
   
      a:hover, a.active {
        color: red;
      }
   }
