// .search {
//     position: relative;
//     display: flex;
//     align-items: center;
//     gap: 20px;
//     position: relative;
//     right: 5%;
//     #search {
//         background: url('../../../public/icons8-search.svg');
//         background-size: 20px 20px;
//         background-position: center;
//         background-repeat: no-repeat;
//         width: 40px;
//         height: 40px;
//         border-radius: 50%;
//         border: 1px solid darkgreen;
//         color: #fff;
//     }
//     #search:hover  {
//         width: 250px;
//         background-position: 10px center;
//         border-radius: 7px;
//     }
    
//     #search:focus {
//         width: 250px;
//         background-image: none;
//         border-radius: 7px;
//     }
    // .SearchItem {
    //     position: relative;
    //     top: 300px;
    //     right: calc(50% -800px);
    //     width: 800px;
    //     height: 500px;
    //     background: #be212171;
    //     z-index: 20;
    // }
// }

.SearchItem {
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .9);
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .hhh{
        width: 100%;
        text-align: center;
    }
    label {
        width: 800px;
        margin-top: 80px;
        input {
            width: 100%;
            outline: none;
            font-size: 20px;
            padding: 10px 20px;
            color: #fff;
            border: none;
            border-radius: 10px;
            margin-bottom: 50px;
        }
    }
}