* {
    padding: 0; margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all .3s linear;
    color: #fff;
}



$bgColor : rgba(0, 0, 0, 0.9);
$lettercolor: green;
$efectColor: red;
$textSize: 16px;

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background: $bgColor;
}

html::-webkit-scrollbar-thumb {
    background: darkgreen;
    border-radius: 8px;
}


.App {
    background-color: $bgColor;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    min-height: 100vh;
    .hide {
        display: none!important;
    }

    .show {
        display: block!important;
    }

    .Content {
        width: 84%;
     }

     .Footer {
        width: 100%;
        text-align: center;
     }
     
}


@media screen and (max-width: 1100px) {

    .App {
        display: flex;
        justify-content: center;

         .Content {
            width: 100%!important;
        }
    }


}