* {
    padding: 0; margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all .3s linear;
    color: #fff;
}

$bgColor : rgba(0, 0, 0, 0.9);
$lettercolor: green;
$efectColor: red;
$textSize: 16px;

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background: $bgColor;
}

html::-webkit-scrollbar-thumb {
    background: darkgreen;
    border-radius: 8px;
}


.App {
    min-height: 100vh;
    .hide {
        display: none;
    }

    .show {
        display: block;
    }

    background-color: $bgColor;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
     .Header {
        width: 100%;
        height: 50px;
        margin-bottom: 40px;
        color: $lettercolor;
        position: sticky;
        top: -10px;
        z-index: 10;
        display: flex;
        background-color: black;
        justify-content: space-between;
        box-shadow: -5px 5px 5px rgba(3, 128, 3, 0.499) ;
        .fa-solid {
            font-size: 25px;
            color: $lettercolor;
        }

        .box2 {
            width: 50%;
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 20px;
            .btn {
                color: black;
                width: 60px;
                height: 25px;
                border-radius: 5px;
            }
            .fa-solid {
                margin-right:15px ;
            }
        }

        .box {
            width: 50%;
            display: flex;
            justify-content: start;
            align-items: center;
            .btn {
                color: black;
                width: 60px;
                height: 25px;
                border-radius: 5px;
            }
             .logo {
                padding: 10px;
             }
            
            
            .NavBar {
                a {
                    color: $lettercolor;
                    font-size: 20px;
                    padding: 10px 15px;
                }
                a:hover, a.active {
                    color: $efectColor
                }
            }
        }
     }

     .Content {
        width: 84%;

        .Home {
           display: flex;
           flex-wrap: wrap;
           justify-content: center;
           gap: 20px;
            .cart {
                width: 20%;
                height: 300px;
                border: 1px solid;
            }
        }
        width: 75%;
        a {
            font-size: 20px;
        }

     }
     .login {
        max-width: 400px;
        height: 400px;
        margin: 0 auto;
        border: 1px solid;
        border-radius: 7px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        color: $lettercolor;
        input {
            color: black;
        }
        h2 {
            text-align: center;
            margin: 20px;
        }
        .log {
            margin-top: 30px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .btn-login {
                padding: 5px 13px;
                border-radius: 7px;
                background: rgb(65, 65, 232);
                align-items: center;
            }
        }
     }

     .Footer {
        width: 100%;
        text-align: center;
     }
}


